.navbar_wrapper {
  .navbar_info {
    background-color: #6b6b6b;
    height: 50px;
    color: #fff;
    padding: 0 120px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      cursor: pointer;
    }
    .select_wrapper {
      select {
        color: #fff;
        background: none;
        outline: none;
        border: none;
        font-size: 18px;
      }
    }
    .left_side {
      display: flex;
      .info_wrapper {
        padding: 0 46px;
        display: flex;
        align-items: center;
        span {
          margin-left: 10px;
        }
      }
      .phone_wrapper {
        display: flex;
        align-items: center;
        span {
          margin-left: 10px;
        }
      }
      .select_wrapper {
        display: flex;
        align-items: center;
      }
    }
  }
  .navbar_action {
    background-color: #1f6d70;
    height: 60px;
    padding: 0 120px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      cursor: pointer;
    }
    .logo_navbar {
      display: flex;
      align-items: center;
    }
    .right_side {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 50%;
      .search_wrapper {
        .search_inp {
          border: none;
          outline: none;
          background: inherit;
          border-bottom: 2px solid #fff;
          color: #fff;
          position: relative;
          padding-left: 25px;
          font-size: 18px;
          &::placeholder {
            color: #fff;
            margin-right: 20px;
          }
        }
        .search_img {
          position: absolute;
        }
      }
    }
  }
  .navbar_routes_wrapper {
    padding: 0 40px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .navbar_routes {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 170px;
      height: 50px;
      // @media screen and (max-width: 1240px) {
      //   display: none;
      // }
      @media screen and (max-width: 1240px) {
        padding: 0 120px;
      }
      @media screen and (max-width: 1070px) {
        padding: 0 50px;
      }
      @media screen and (max-width: 840px) {
        display: none;
      }
      a {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
      }
    }
    .navbar_burger {
      display: none;
      padding: 0 80px;
      height: 100%;
      cursor: pointer;
      button {
        outline: none;
        border: none;
        background-color: #fff;
        font-size: 30px;
      }
      @media screen and (max-width: 840px) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
